{% extends "base.html" %}

{% block head %}
	<title>{% block title %}Assignment Social Network - Poll Detail {% endblock %}</title>
{% endblock %}

{% block content %}
    <h1>Poll: {{ poll.title }}</h1>
    
    {{ poll.text|linebreaks }}

    Please make a choice between
    <div class="poll-vote">
        <form method="POST">
            {% csrf_token %}
            <input type="submit" name="vote" value="Yes"> 
            <input type="submit" name="vote" value="No"> 
        </form>
    </div>
    <br>
    The current score is: <strong>{{ poll.score }}</strong>
    <br>
    <br>
    <a href={{ request.META.HTTP_REFERER }}>Return to previous page</a>
{% endblock %}