{% extends "base.html" %}

{% load static %}

{% block head %}
	<title>{% block title %}The Blog of {{ show_as }}{% endblock %}</title>
	<link rel="stylesheet" href={% static "blog_update.css" %}>
{% endblock %}

{% block content %}
    <span style="font-size:12px; background-color:#ffcc00">
        <strong>Created:</strong> {{ post.created_at|date:"r" }}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <strong>Last updated:</strong>
    {% if post.update_at %}
        {{ post.update_at|date:"r" }}
    {% else %}
        Original
    {% endif %}
    {% if not post.published_at %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <strong><span style="color:#ff0000">Unpublished</span></strong>
    {% endif %}
    </span>

    {% if request.user.username|stringformat:"s" == user.username|stringformat:"s" %}
        <div class="update-blog-entry">
            <form action="{% url 'blogs:blog_detail' user.username post.pk %}" method="post">
                {% csrf_token %}
                <div>
                    <label for="id_title">Title:&nbsp;</label>{{ form.title }}
                </div>
                <div>
                    <label for="id_text">Text:&nbsp;</label>{{ form.text }}
                </div>
                <div>
                    <label for="id_publish">Publish:&nbsp;</label>{{ form.publish }}
                </div>
                <div>
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    {% else %}        
        <div id="blog">
            <strong>Title:</strong>{{ post.title }}<br>
            {% for category in post.categories.all %}
                <span style="font-size:12px; background-color:#00ffff">
                {{ category.name }}
                </span>&nbsp;
            {% endfor %}
            </p>
            {{ post.text }}
            <br><br>
        </div>
    {% endif %}
    <br>
    <br>
    <a href={% url 'blogs:blog_entries' user.username %}>Return to blog list</a>
{% endblock %}
