{% extends "base.html" %}

{% load static %}

{% block head %}
	<title>{% block title %}The Blog of {{ show_as }}{% endblock %}</title>
	<link rel="stylesheet" href={% static "blog_update.css" %}>
{% endblock %}

{% block content %}
    {% if request.user.username|stringformat:"s" == user.username|stringformat:"s" %}
        <h2>Add new blog entry for {{ show_as }}:</h2>
        <div id="new-blog-entry">
            <form action="{% url 'blogs:blog_entries' user.username %}" method="post">
                {% csrf_token %}
                <div>
                    <label for="id_title">Title:&nbsp;</label>{{ form.title }}
                </div>
                <div>
                    <label for="id_text">Text:&nbsp;</label>{{ form.text }}
                </div>
                <div>
                    <label for="id_category">Category<br>Choices:&nbsp;</label>{{ form.category }}
                </div>
                <div>
                    {{ choice.tag }}
                    <label for="id_publish">Publish:&nbsp;</label>{{ form.publish }}
                </div>
                <div>
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    {% endif %}

    <div id="blog">
        <p><h2>The {{ show_as }} blog to date (RSS):</h2></p>
        {# Difference in below is what is the sorted blog source -- created or published #}
        {% if request.user.username == user.username %}
            {% for post in posts_created %}
                {% include "post_entry.html" %}
            {% empty %}
                <div id="nothing-found">
                    <img alt="Free for use per https://pixabay.com/service/license-summary/"
                        src="https://cdn.pixabay.com/photo/2015/05/03/16/05/wall-751342_1280.jpg"
                        style="height:300px; width:600px" />
                    <p>Looks like this author has not written anything yet</p>
                </div>
            {% endfor %}
            <p>
            <div style="display: flex; justify-content: space-between;">
                <span>
                    ** {{ post_count_created }} entr{{ post_count_created|pluralize:"y,ies" }}
                    found **
                </span>
                <span>
                    <a href={% url 'rss_blog_author_feed' user.username %}>
                        RSS feed for {{ user.username }}</a>
                </span>
            </div>
            </p>
        {% else %}
             {% for post in posts_published %}
                 {% include "post_entry.html" %}
             {% empty %}
                 <div id="nothing-found">
                     <img alt="Free for use per https://pixabay.com/service/license-summary/"
                         src="https://cdn.pixabay.com/photo/2015/05/03/16/05/wall-751342_1280.jpg"
                         style="height:300px; width:600px" />
                     <p>Looks like this author has not written anything yet</p>
                 </div>
             {% endfor %}
             <p>
             <div style="display: flex; justify-content: space-between;">
                <span>
                    ** {{ post_count_published }} entr{{ post_count_published|pluralize:"y,ies" }}
                    found **
                </span>
                <span>
                    <a href={% url 'rss_blog_author_feed' user.username %}>
                        RSS feed for {{ user.username }}</a>
                </span>
            </div>
            </p>
        {% endif %}
    </div>
{% endblock %}
    